.inner-container{
	padding-top: 205px;
}
.conceptual-framework{
	padding: 100px 0 60px;
}
.con-framework-img{
	margin-left: -16px;
	margin-right: -16px;
}
/* MEDIA CSS */
@media screen and (min-width: 1025px) {

}
@media screen and (max-width: 991px) {
	.inner-container{
		padding-top: 35px;
	}
	.conceptual-framework{
		padding: 40px 0;
	}
	.con-framework-img{
		margin-left: 0;
		margin-right: 0;
	}
}
